body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    margin:0 0 0 0;
    color: #E7A310 ;
}

#Title{
    font-size: 30px;
    color: #252525;
    
    margin-left:70%;
}
#Title2{
    font-size: 30px;
    color: #252525;
    
    margin-left:20%;
}

header{
    color: #E7A310;
    text-align: center;
    font-style: italic;
    height: 80px;
    background-color: transparent;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#Profile{
    margin-top:25px;
    width: 300px;
    height: 300px;
    
}

#logo{
    float: left;
    width: 20%;
    height: 80px;
}

footer{
    color: #E7A310;
    text-align: center;
    font-style: italic;
    height: 85px;
    
    bottom:0;
    left:0;
    position: relative;
    background-color: #252525;
   
    padding: 5px 10px 20px 10px;
} 
h1{
    font-size: 20px;
}



 nav ul{
        
      width:100%;
      list-style: none;
      background-color: #252525;
      text-align: center;
      padding: 0;
      margin: 0;
}

nav li {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    height:60px;
    width:40%;
    border-bottom: 1px solid #888;  
}


nav a {
    text-decoration: none;
    color: #E7A310;
    text-align: center;
}

nav a:hover{
    color: black;
}
#headerText{
    color: black;
    font-size: 40px;
    height: 80px;
    width: 80%;
    float: right;
    margin-top:5px;
}

#personaldata{
    width: 60%;
    border: 1px solid black;
    margin: 10px 32px 52px 157px;
    height: 400px;
}
#imglogo {
    display: block;
    margin: auto;
    width: 30%;
    height: 80px; 
}

#container{
    width:100%;
}
#container2{
    width:40%;
    margin-left: 20px;
}


article{
    position:relative;   
    margin: 90px 20px 90px 455px;
    width:50%;
    height: 800px;
    background: #2b2929;
    text-align: center;
    color: #E7A310;
}
.userdata{
    font-size: 16px;
    height: 85px;
}

.input{
width: 50%;
font-size: 17px;
padding: 10px;
box-sizing: border-box;
border: none;
color: black;
border-radius: 12px;
margin-top: 25px;
margin-left: 18px;
}

.customButton{
    border: 1px solid orange;
    width: 80px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #313030;
    color: orange;
}

#facebook{
    width:60px;
    height:60px;
}

#twitter{
    width:60px;
    height:60px;
}
#tumblr{
    width:60px;
    height:60px;
}
#youtube{
    width:60px;
    height:60px;
}

