body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    margin:0 0 0 0;
    color: #E7A310 ;
}
section{
    display:flex;
}

main{
    flex-grow:3;
}

#Title{
    font-size: 30px;
    color: #252525;
    
    margin-left:70%;
}
#Title2{
    font-size: 30px;
    color: #252525;
    
    margin-left:20%;
}

.content1-img{
    flex-grow: 1;
}

.content1-data{
    flex-grow: 4;
    margin-top: 25px;
}

header{
    flex-grow:1;
    color: #E7A310;
    text-align: center;
    font-style: italic;
    height: 80px;
    background-color: transparent;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}


#Profile{
    margin-top:25px;
    width: 50%;
    border-radius: 50%;
}

#logo{
    float: left;
    width: 50%;
    height: 80px;
}

footer{
    color: #E7A310;
    text-align: center;
    font-style: italic;
    height: 85px;
    flex-grow:1;
    bottom:0;
    left:0;
    position: relative;
    background-color: #252525;
   
    padding: 5px 10px 20px 10px;
} 
h1{
    font-size: 20px;
}



 nav ul{
        
      width:100%;
      list-style: none;
      background-color: #252525;
      text-align: center;
      padding: 0;
      margin: 0;
}

nav li {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    height:60px;
    width:40%;
    border-bottom: 1px solid #888;  
}


nav a {
    text-decoration: none;
    color: #E7A310;
    text-align: center;
}

nav a:hover{
    color: black;
}
#headerText{
    color: black;
    font-size: 40px;
    height: 80px;
    width: 80%;
    float: right;
    margin-top:5px;
}

#personaldata{
    width: 60%;
    border: 1px solid black;
    margin: 10px 32px 52px 157px;
    height: 400px;
}

form{
    width: 100%;
}
#imglogo {
    display: block;
    margin: auto;
    width: 30%;
    height: 80px; 
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }




article{
    display: flex;
    flex-direction: column; 
    flex-grow: 2;  
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    background: #2b2929;
    text-align: center;
    color: #E7A310;
}
.userdata{
    font-size: 16px;
    height: 85px;
}

.input{
width: 50%;
font-size: 17px;
padding: 10px;
box-sizing: border-box;
border: none;
color: black;
margin-top: 25px;
margin-left: 18px;
}

input, textarea{
    height: 30px; 
    line-height: 30px; 
    width: 300px; 
    padding: 0 10px;
}

.customButton{
    border: 1px solid orange;
    width: 80px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #313030;
    color: orange;
}

#facebook{
    width:60px;
    height:60px;
}

#twitter{
    width:60px;
    height:60px;
}
#tumblr{
    width:60px;
    height:60px;
}
#youtube{
    width:60px;
    height:60px;
}

